# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
**/.vs/

# Visual Studio Code
EsameIfoaClient/.vscode/*
!EsameIfoaClient/.vscode/settings.json
!EsameIfoaClient/.vscode/tasks.json
!EsameIfoaClient/.vscode/launch.json
!EsameIfoaClient/.vscode/extensions.json
EsameIfoaClient/.history/*

# Miscellaneous
EsameIfoaClient/.angular/cache
EsameIfoaClient/.sass-cache/
EsameIfoaClient/connect.lock
EsameIfoaClient/coverage
EsameIfoaClient/libpeerconnection.log
EsameIfoaClient/testem.log
EsameIfoaClient/typings

# System files
.DS_Store
Thumbs.db



# Server files
/EsameIfoaServer/.vs
/EsameIfoaServer/**/.vs
/EsameIfoaServer/**/bin
/EsameIfoaServer/**/obj
/AuthServiceUnitTest
/AuthServiceUnitTest/obj
/AuthServiceUnitTest/bin


