<div class="container py-5">
  
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <form [formGroup]="formContact" (ngSubmit)="onSubmit()" class="p-5 bg-light shadow rounded-4 border">
        <h2 class="text-center mb-3 fw-bold">Add New Contact</h2>

        <div class="mb-4">
          <label for="fullname" class="form-label fw-semibold">Full Name</label>
          <input
            id="fullname"
            type="text"
            class="form-control rounded-pill px-4 py-2"
            formControlName="fullName"
            [ngClass]="{ 'is-invalid': formContact.get('fullName')?.invalid && formContact.get('fullName')?.touched }"
          />
          @if (formContact.get('fullName')?.invalid && formContact.get('fullName')?.touched) {
            <div class="invalid-feedback ps-3">Full name is required.</div>
          }
        </div>

        <div class="mb-4">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input
            id="email"
            type="email"
            class="form-control rounded-pill px-4 py-2"
            formControlName="email"
            [ngClass]="{ 'is-invalid': formContact.get('email')?.invalid && formContact.get('email')?.touched }"
          />
          @if (formContact.get('email')?.invalid && formContact.get('email')?.touched) {
            <div class="invalid-feedback ps-3">Email is required.</div>
          }
        </div>

        <div class="mb-4">
          <label for="phone" class="form-label fw-semibold">Phone</label>
          <input
            id="phone"
            type="text"
            class="form-control rounded-pill px-4 py-2"
            formControlName="phone"
            [ngClass]="{ 'is-invalid': formContact.get('phone')?.invalid && formContact.get('phone')?.touched }"
          />
          @if (formContact.get('phone')?.invalid && formContact.get('phone')?.touched) {
            <div class="invalid-feedback ps-3">Phone is required.</div>
          }
        </div>

        <div class="mb-4">
          <label for="department" class="form-label fw-semibold">Department</label>
          <input
            id="department"
            type="text"
            class="form-control rounded-pill px-4 py-2"
            formControlName="department"
            [ngClass]="{ 'is-invalid': formContact.get('department')?.invalid && formContact.get('department')?.touched }"
          />
          @if (formContact.get('department')?.invalid && formContact.get('department')?.touched) {
            <div class="invalid-feedback ps-3">Department is required.</div>
          }
        </div>

        <button type="submit" class="btn btn-primary w-100 rounded-pill py-2 fs-5">Add Contact</button>

      </form>

      <div class="text-center mt-4">
        <app-back-button></app-back-button>
      </div>
    </div>
  </div>
</div>
